/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a:link, a:visited {
    text-decoration:none;
    color:black;    
}

body {
    font-family: "Hammersmith One", sans-serif;
    background: #8EC0CC;
}

#game-container {
    width:1200px;
    margin: auto;
    position:relative;
}

#sidebar {
    width: 12.6em;
    float: left;
    overflow: auto;
}

.button {
    font-family: "Hammersmith One";
    background: #C13434;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 0.4em;
    border-bottom: #112617 solid 1px;
    text-align: center;
}

.button:hover {
    background: #C67373;
}

.button:active {
    background: #C67373;
    border-bottom: none;
    border-top: #112617 solid 1px;
}

.sidebar-section {
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 90%;
    margin: 3% 0;
    padding: 5%;
    overflow: auto;   
    border-bottom: #112617 solid 2px;
}

.sidebar-section a:link {
    color: black;
}

a:hover .sidebar-section {
    background: white;
}

.resource-section {
    background: #42B761;
}

.time-section {
    background: #BCCFD3;
}

.active-section {
    background: #C13434;
}

.resource {
    width: 100%;
    overflow: auto;
    /*background: #4E9362;
    margin-bottom:0.1em;*/
    /*border-bottom: #112617 solid 1px;*/
}
.resource-name, .resource-amount, .resource-income, .personnel-amount, .personnel-name {
    float: left;
    height: 1.5em;
}
#gold {
    border-bottom: black solid 1px;
    margin-bottom:0.5em;
}
.resource-name, .personnel-name {
    width: 65%;
}
#gold .resource-name {
    width: 30%;
}
.resource-amount, .personnel-amount {
    width: 30%;
    text-align: center;
}
.resource-income {
    width: 10%;
    text-align: center;
}

#canvas-container {
    float:left;
    position: relative;
}
#main-canvas {
    padding: 5px;
    position:relative;
    z-index: 10;
}


#time .button {
    margin: 0.2em 0.5em;
    padding: 0.2em 0.4em;
}


/**
 * ========================================================
 * H I R E   M E N U 
 * =======================================================
 **/

#hire-menu {
    background: #A8C4B0;
    position:absolute;
    top:20px;
    left:20px;
    width:19em;
    display:none;
    z-index:100;
}

#hire-menu ul {
    list-style-type:none;
    width: 100%;
    margin:0;
    padding:0;
    overflow-y: scroll;
}

#hire-menu li {
    display:block;
    width: 5em;
    overflow: auto;
    margin: 1em;
    text-align: center;
    background: #DEF7E5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-bottom: #112617 solid 2px;
}
#hire-menu li:hover {
    width: 15em;    
}

#hire-menu .hire-icon {
    float: left;
    width: 5em;
    background: #ADD6B9;
}
#hire-menu li .details {
    position: relative;
    text-align: left;
    display: none;
    width:10em;
    font-size: 80%;
    margin-top: 2em;
    margin-left: 0.5em;
}

#hire-menu li:hover .details {
    display:block;
    float: left;
}

#hire-menu img {
    width: 5em;
}

#hire-menu .button {
    display:block;
    width:7em;
}


/*
 * ========================================================
 * T H E   R E P O R T 
 * =======================================================
 */

#report-container {
    display:none;
    position:absolute;
    top: 2em;
    left:0;
    right:0;  
    z-index:1000;
}

#term-report {
    font-family: "Courier New";
    width:15em;
    margin:auto;
    background: white;
    padding: 4em 5em;
    box-shadow: 5px 5px 2px #555;
}

.term-header {
    margin-bottom:2em;   
}

#term-report .resource-name {
    width:65%;
}
.resource-gain {
    margin-left: 2em;    
}
.gain-amount {
    font-size:110%;
    font-weight:bold;
}

#total-gain {
    margin: 2em 0 ;
    font-size:110%;
}

#term-report .button {
    float:right;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
